.calculator-screen {
  width: 240px;
  padding: 10px 0;
}

.calculator-typed {
  height: 25px;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 25px;
  text-align: right;
  color: #fff;
  background-color: #686d73;
  border-radius: 5px;
}
